* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #26253e;
  height: 100vh;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;
}

.sidebar {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  background: #4734d7;
}

.sidebar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  height: 72px;
  background: rgb(0 0 0 / 15%);
}

.sidebar-burger {
  width: 60px;
  height: 72px;
  display: grid;
  place-items: center;
  color: #f9f9f9;
}

.sidebar-logo {
  height: 22px;
}

.sidebar-menu {
  display: grid;
  padding: 10px;
}

.sidebar-button {
  display: flex;
  gap: 16px;
  align-items: center;
  height: 56px;
  width: 100%;
  font-family: "Poppins";
  font-size: 17px;
  text-transform: capitalize;
  line-height: 1;
  padding: 0 10px;
  border-radius: 8px;
  color: #f9f9f9;
  opacity: 0.9;
}

.sidebar-button p {
  font-size: 15px;
}

.handle {
  position: absolute;
  z-index: 100;
  width: 8px;
  top: 0;
  bottom: 0;
  right: 0;
  transition: 0.3s;
}

.handle:hover,
.handle:active {
  background: rgb(255 255 255 / 10%);
  cursor: col-resize;
}
